<link rel="stylesheet" href="{{ url_for('static',filename='js/flatpickr-gh-pages/dist/flatpickr.min.css') }}">
<script type="text/javascript" src="{{ url_for('static' , filename='js/flatpickr-gh-pages/dist/flatpickr.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static' , filename='js/ckeditor_4.5.7_full/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static' , filename='js/ckeditor_4.5.7_full/plugins/image/dialogs/image.js') }}"></script>

    <!-- title -->
    <div id="add_work_form">
        <div class="card">
            <div class="card-header"><h4><i class="bi bi-pencil-square"></i> 工作記錄</h4></div>
            <div class="card-body">

                <!-- 日期時間 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">日期</span>
                    <!-- date -->
                    <input type="text" class="form-control" id="date" value="{{ r_time }}" placeholder="" readonly/>
                </div>

                <!-- 種類 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">種類</span>
                    <input type="text" class="form-control" id="kind" placeholder="" required>
                    <select class="form-control" onchange="select_money_record_kind(this.value)" required>
                        <option></option>
                        {% for val in kind %}
                        <option value="{{ val[0] }}">{{ val[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- 標體 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">標體</span>
                    <input type="text" class="form-control" id="title" placeholder="標體" required>
                    <span class="input-group-text" id="basic-addon1">類</span>
                </div>

                <!-- 內容 -->
                <div class="input-group mb-3 d-flex justify-content-center align-items-center">
                    <!-- content -->
                    <textarea class="form-control" id="content" rows="15"></textarea>
                </div>

                <!-- user -->
                <input type="hidden" id="user" value="{{ user }}" />

            </div>
            <div class="card-footer text-center">
                <div class="btn-group">
                    <button  class="btn btn-primary" onclick="submit_add_work_record_form()"><i class="bi bi-pencil-square"></i> 新增</button>  
                </div>
            </div>
        </div>

        <!-- show msg -->
        <div id="error_msg" class="text-center"></div>

    <!-- date picker & rich editor-->
    <script>
        $("#date").flatpickr();  
        CKEDITOR.replace('content');
    </script>
        