<div><span class="text-primary">{{ kind }}</span> 總消費紀錄</div>

<br>

    <!-- line temp -->
    <div class="d-flex justify-content-center align-items-center">
        <img src="data:image/png;base64,{{ msg2_img }}" class="img-fluid" alt="{{ year }} 總消費紀錄">
    </div>

<br>

<!-- show year list by kind -->
<ul style="display: flex; flex-wrap: wrap; justify-content: center; padding: 0; list-style-type: none;">
    {% for val in msg2 %}
    <li style="list-style-type: none; display: inline-block; width: 25%; border:1px solid #adb5bd;" class="list-inline-item mouse_hover rounded m-2 p-2 text-center align-middle">
        <span>
                <p class="text-primary bottom_border">{{ val[0] }}</p> 
                <p>共 {{ val[1] }} 筆</p> 
                <p>{{ val[2] }} 元</p>
        </span>
    </li>
    {% endfor %}
</ul>

<br>

<!-- show kind list by kind -->
<ul style="display: flex; flex-wrap: wrap; justify-content: center; padding: 0; list-style-type: none;">
    {% for val in msg %}
    <li style="list-style-type: none; display: inline-block; width: 25%; border:1px solid #adb5bd;" class="list-inline-item mouse_hover rounded m-2 p-2 text-center align-middle">
        <p><button class="btn btn-danger"  id="{{ val[4] }}" onclick="del_menu_money_record(id)"><i class="bi bi-x-square"></i> 刪</button></p>
        <span>
            <p class="bottom_border">{{ val[0] }}</p> 
            <p>{{ val[1] }} {{ val[2] }}</p> 
            <p>{{ val[3] }}</p> 
        </span>
    </li>
    {% endfor %}
</ul>



  
