<div class="card my-2">
        <div class="card-header">
            <h3><i class="bi bi-list-ol"></i>  日記帳清單</h3>
        </div>
        <div class="card-body">

            <ul style="display: flex; flex-wrap: wrap; justify-content: center; padding: 0; list-style-type: none;">
                {% for val in msg %}
                <li style="list-style-type: none; display: inline-block; width: 25%;" class="list-inline-item mouse_hover rounded border border-1 m-2 p-2 text-center align-middle">
                    <span  class="mouse_hover">
                        <p class="bottom_border">{{ val[0] }}</p>  
                        <p> 共 {{ val[1] }} 筆 </p>
                        <p> 共 {{ val[2] }} 元 </p> 
                    </span>
                </li>
                {% endfor %}
            </ul>
           
        </div>
</div>